

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bootstrap-logo{
  width:100px;
  height: 100px;
}
#sign-in-form{
  max-width: 330px;
}
#main-container{
  place-items: center center;
}
